<$ include partials/header $>
  <div class="_demo--container">
    <div class="_content input">
      <h2 class="base--h2">
        Try the Service
      </h2>
      <p class="base--p">You need text written by the person whose personality you're interested in. It should contain words about every day experiences, thoughts, and responses.</p>
      <p class="base--p">For statistically significant results, <a class="base--a" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/" target="_blank">you need at least 3500 words and ideally 6000</a>. You can still play with the demo if you have at least 100 words, but you should take those results with a grain of salt.</p>
      <div class="tab-panels" role="tabpanel">
        <span class="input--reset icon-hyperlink">
          <span class="icon icon-reset"></span>
          <button class="base--a icon-hyperlink--button icon-hyperlink--button_BLANK input--reset-button" href="" type="reset">
            Reset
          </button> |
          <a class="base--a" href="/terms-of-use">Terms of Use</a>
        </span>
        <ul class="tab-panels--tab-list" role="tablist">
          <li class="tab-panels--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab base--a active" href="#twitter-panel" aria-controls="twitter-panel" role="tab">Tweets and Replies</a>
          </li>
          <li class="tab-panels--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab base--a" href="#text-panel" aria-controls="text-panel" role="tab">Body of Text</a>
          </li>
          <li class="tab-panels--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab base--a" id="self-analysis-tab" href="#your-twitter-panel" aria-controls="text-panel" role="tab">Your Twitter Personality</a>
          </li>
        </ul>
        <div class="tab-panels--tab-content">
          <div id="twitter-panel" class="tab-panels--tab-pane active" role="tab-panel">
            <form class="input--form1">

              <div class="base--h5 input--choose">Choose:</div>

              <input role="radio" class="base--radio" type="radio" id="twitter-Oprah" name="twitter" value="Oprah" data-lang="en">
              <label class="base--inline-label input--radio" for="twitter-Oprah">
                <img class="input--thumb" src="/images/twitter/oprah.png">@Oprah (EN)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-KingJames" name="twitter" value="KingJames" data-lang="en">
              <label class="base--inline-label input--radio" for="twitter-KingJames">
                <img class="input--thumb" src="/images/twitter/kingjames.jpg">@KingJames (EN)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-DonFranciscoTV" name="twitter" value="DonFranciscoTV" data-lang="es">
              <label class="base--inline-label input--radio" for="twitter-DonFranciscoTV">
                <img class="input--thumb" src="/images/twitter/DonFranciscoTV.jpg">@DonFranciscoTV (ES)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-pontifex_es" name="twitter" value="pontifex_es" data-lang="es">
              <label class="base--inline-label input--radio" for="twitter-pontifex_es">
                <img class="input--thumb" src="/images/twitter/pontifex_es.jpg">@pontifex_es (ES)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-trikaofficial" name="twitter" value="trikaofficial" data-lang="ar">
              <label class="base--inline-label input--radio" for="twitter-trikaofficial">
                <img class="input--thumb" src="/images/twitter/trikaofficial.jpg">@trikaofficial (AR)</label>
              <input role="radio" class="base--radio" type="radio" id="twitter-faridyu" name="twitter" value="faridyu" data-lang="ja">
              <label class="base--inline-label input--radio" for="twitter-faridyu">
                <img class="input--thumb" src="/images/twitter/faridyu.jpg">@faridyu (JA)</label>
              <input role="radio" class="base--radio" type="radio" id="twitter-miyake_yukiko35" name="twitter" value="miyake_yukiko35" data-lang="ja">
              <label class="base--inline-label input--radio" for="twitter-miyake_yukiko35">
                <img class="input--thumb" src="/images/twitter/miyake_yukiko35.jpg">@miyake_yukiko35 (JA)</label>
              <div class="input--button-container">
                <button type="submit" class="base--button input--submit-button1">Analyze</button>
              </div>
            </form>
          </div>
          <div id="text-panel" class="tab-panels--tab-pane" role="tab-panel">
            <form class="input--form2">

              <div class="base--h5 input--choose">Choose:</div>

              <input role="radio" class="base--radio" type="radio" id="text-sample1" name="text-sample" data-file="sample1" data-lang="en" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-sample1">2012 Debate - Barack Obama (EN)</label>

              <input role="radio" class="base--radio" type="radio" id="text-sample2" name="text-sample" data-file="sample2" data-lang="en" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-sample2">Reflection - Gandhi (EN)</label>
              <input role="radio" class="base--radio" type="radio" id="text-ja" name="text-sample" data-file="ja" data-lang="ja" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-ja">Michikusa - Natsume (JA)</label>

              <input role="radio" class="base--radio" type="radio" id="text-custom" name="text-sample" style="display:none"/>
              <label class="base--inline-label input--radio smartphone-hidden" for="text-custom">Your own text</label>

              <textarea id="inputText" class="base--textarea input--text-area" placeholder="Please enter text to analyze (minimum of 100 words)...">
              </textarea>
              <div class="input--button-container">
                <div id="languageChooser" class="input--language-chooser smartphone-hidden" style="display:none">
                  <div class="base--h5 input--choose">Choose language:</div>

                  <input role="radio" class="base--radio" type="radio" id="lang-en" name="text-lang" value="en"/>
                  <label class="base--inline-label" for="lang-en">English</label>
                  <input role="radio" class="base--radio" type="radio" id="lang-es" name="text-lang" value="es"/>
                  <label class="base--inline-label" for="lang-es">Spanish</label>
                  <input role="radio" class="base--radio" type="radio" id="lang-ar" name="text-lang" value="ar"/>
                  <label class="base--inline-label" for="lang-ar">Arabic</label>
                  <input role="radio" class="base--radio" type="radio" id="lang-ja" name="text-lang" value="ja"/>
                  <label class="base--inline-label" for="lang-ja">Japanese</label>
                </div>

                <button type="submit" class="base--button input--submit-button2">Analyze</button>
              </div>

            </form>
          </div>
          <div id="your-twitter-panel" class="tab-panels--tab-pane" role="tab-panel">
            <form class="input--form3 auth-form" method='get' action='/auth/twitter'>
              <p class="base--p" style="text-align:center"><button type="submit" class="base--button input--submit-button3">Analyze my Twitter Personality</button></p>
              <p class="base--p"><strong>Note:</strong> You will be redirected to Twitter's authorization page and then redirected to this application to complete the analysis.<p>
            </form>
            <form class="input-form4 analysis-form" style="display:none">
              <div class="base--h5 input--choose">Analysis for:</div>
              <input role="radio" class="base--radio" type="radio" id="my-twitter" name="twitter" value="myself">
              <label class="base--inline-label input--radio" for="my-twitter">
                <img class="input--thumb" src="/images/no_image.jpg">@myself</label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="_demo--bg-container">
    <div class="_demo--container">
      <div class="_content">
        <h3 class="base--h3 output--header">Output</h3>
        <div class="loading">
          <div class="loading--icon">
            <img src="images/loading-indicator.gif" width="100%" alt="">
          </div>
        </div>
        <div class="error">
          <p class="error--message">Error!</p>
        </div>
        <div class="output">
          <p class="base--p">The scores you see are all percentiles. They are comparing one person to a broader population. For example, a 90% on Extraversion does not mean that the person is 90% extroverted. It means that for that single trait, the person is more extroverted than 90% of the people in the population.</p>
          <p class="base--p"><a class="base--a" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/inout.shtml#outputStats" target="_blank">Our sample population consists of Twitter users who tweet in respective language</a> and whose personalities we calculated using our model.</p>
          <h2 class="base--h2">Personality Portrait</h2>
          <h4 class="base--h4 output--word-count-header"><span class="output--word-count-number">0</span> words analyzed:
            <div class="output--word-count-message output--word-count-message_VERY-STRONG">Very Strong Analysis
              <div class="output--word-count-tooltip_VERY-STRONG tooltip">A word count of 6000 or more is a high-quality assessment of someone's personality. It's statistically significant.</div>
            </div>
            <div class="output--word-count-message output--word-count-message_STRONG">Strong Analysis
              <div class="output--word-count-tooltip_STRONG tooltip">This is a confident read of someone's personality. It's statistically significant! ...but wait, there's more! For only 6000 words, you'll get something so accurate it's scary. Do it!</div>
            </div>
            <div class="output--word-count-message output--word-count-message_DECENT">Decent Analysis
              <div class="output--word-count-tooltip_DECENT tooltip">These results are a general impression of this person, and they should be taken with a grain of salt. Increase the word count to 3500 to get a strong one.</div>
            </div>
            <div class="output--word-count-message output--word-count-message_WEAK">Weak Analysis
              <div class="output--word-count-tooltip_WEAK tooltip">With this many words, you can't get a fair read on someone's personality. Can you use at least 1500 to get a general impression?</div>
            </div>
          </h4>
          <div class="output-summary">
            <div class="output-summary--left">
              <h4 class="base--h4">Summary</h4>
              <div id="personalitySummary" class="output-summary--summary">
                <p class="base--p">Analyze your profile to get your personality summary.</p>
              </div>
              <a class="base--a output-summary--summary-link" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/sample.shtml" target="_blank">How did we get this?</a>
            </div>
            <div class="output-summary--right">
              <div class="output-summary--likely-behaviors--section">
                <h4 class="base--h4">You are likely to______</h4>
                <div class="output-summary--likely-behaviors"></div>
              </div>
              <div class="output-summary--unlikely-behaviors--section">
                <h4 class="base--h4">You are unlikely to______</h4>
                <div class="output-summary--unlikely-behaviors"></div>
              </div>
              <div class="output-summary--no-behaviors--section">
                <h4 class="base--h4">This portrait does not relate to any distinguishing behavior*</h4>
                <p class="base--p">*from those in the studies considered for this demo.</p>
              </div>
            </div>
          </div>
          <div class="output--stats-row">
            <div class="output-big-5 output-stats-column">
              <h4 class="base--h4">Personality</h4>
              <div class="output-stats-column--percentile-label">*% = percentile</div>
              <div class="output-big-5--traits output-stats-column--traits"></div>
            </div>
            <div class="output-needs output-stats-column">
              <h4 class="base--h4">Consumer Needs</h4>
              <div class="output-stats-column--percentile-label">*% = percentile</div>
              <div class="output-needs--traits output-stats-column--traits"></div>
              <div class="output-needs--more-traits"></div>
              <a class="output-needs--toggle output-stats-column--toggle base--a" href="javascript:void(0);">See more</a>
            </div>
            <div class="output-values output-stats-column">
              <h4 class="base--h4">Values</h4>
              <div class="output-stats-column--percentile-label">*% = percentile</div>
              <div class="output-values--traits output-stats-column--traits"></div>
            </div>
          </div>
          <span class="icon-hyperlink output--json-hyperlink">
            <span class="icon icon-code"></span>
            <button class="base--a icon-hyperlink--button icon-hyperlink--button_BLANK output--json-button" href="">
              View JSON
            </button>
          </span>
          <div class="output--json">
            <h3 class="base--h3">JSON</h3>
            <pre class="base--pre language-javascript output--json-pre"><code class="base--code language-javascript output--json-code code--json"></code></pre>
          </div>
          <p class="base--p output--more-science">What else do these results say?
            <br>
            <a class="base--a" onclick="postSunburstRequest()" href="javascript:void(0);">View personality traits in sunburst visualization</a>.
            <br>
            <a class="base--a" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/" target="_blank">See the science behind the service</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" id="big5PercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label output-big-5--trait-label <%= (item.score >= 50) ? 'output-big-5--trait-label_POSITIVE' : 'output-big-5--trait-label_NEGATIVE' %>">
              <%= item.name %>
              <i class="icon icon-down-arrow percent-bar-and-score--toggle-icon"></i>
              <div class="tooltip"><%= tooltips[item.name] != null ? tooltips[item.name] : 'Tooltip not available.' %></div>
            </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
              </div>
            </div>
          </div>
          <div class="output-big-5--sub-tree">
            <% _.each(item.children, function(item2, key, list) { %>
              <div class="percent-bar-and-score">
                <div class="percent-bar-and-score--label output-big-5--sub-trait-label <%= (item2.score >= 50) ? 'output-big-5--sub-trait-label_POSITIVE' : 'output-big-5--sub-trait-label_NEGATIVE' %>">
                  <%= item2.name %>
                  <div class="tooltip"><%= tooltips[item2.name] != null ? tooltips[item2.name] : 'Tooltip not available.' %></div>
                </div>
                <div class="percent-bar percent-bar-and-score--percent-bar">
                  <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item2.score %>%)">
                    <div class="percent-bar--ball <%= (item2.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                    <div class="percent-bar-and-score--number">
                  <%= item2.score %>%</div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
          <% });%>
  </script>

  <script type="text/html" id="outputStatsPercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label <%= (item.score >= 50) ? 'percent-bar-and-score--label_POSITIVE' : 'percent-bar-and-score--label_NEGATIVE' %>">
              <%= item.name %>
              <div class="tooltip"><%= tooltips[item.name] != null ? tooltips[item.name] : 'Tooltip not available.' %></div>
            </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
              </div>
            </div>
          </div>
          <% });%>
  </script>

  <script type="text/html" id="outputBehaviorsTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="output-summary--behavior <%= item.score > 0.5 ? 'output-summary--behavior_POSITIVE' : 'output-summary--behavior_NEGATIVE' %>">
        <i class="icon <%= item.score > 0.5 ? 'icon-likely' : 'icon-not-likely' %>"></i>
        <%= item.name %>
        <div class="tooltip"><%= item.tooltip %><div class="tooltip--hover-fix"></div></div>
      </div>
      <% }); %>
  </script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

<script type="text/javascript" src="./js/vendors/q.js"></script>
<script type="text/javascript" src="./js/components/q_util.js"></script>
<script type="text/javascript" src="js/components/text-summary.js"></script>
<script type="text/javascript" src="js/components/dictionary.standalone.js"></script>
<script type="text/javascript" src="js/components/personality-insights-profile.0.1.0.js"></script>
<script type="text/javascript" src="js/components/personality-insights-trait-tooltips.standalone.js"></script>
<script type="text/javascript" src="js/components/tab-panels.js"></script>


<script type="text/javascript" src="js/demo.js"></script>
<script type="text/javascript" src="js/sunburst.js"></script>

<script type="text/javascript">
  var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
</script>

<$ include partials/ga $>
<$ include partials/footer $>
