<$ include partials/header $>
  <div class="_demo--container">
    <div class="_content input">
      <h2 class="base--h2">
        <$= __("intro-title") $>
      </h2>
      <p class="base--p">
        <$= __("intro-1") $>
      </p>
      <p class="base--p">
        <$= __("intro-4") $>
      </p>
      <div class="tab-panels" role="tabpanel">
        <span class="input--reset icon-hyperlink">
          <span class="icon icon-reset"></span>
        <button class="base--a icon-hyperlink--button icon-hyperlink--button_BLANK input--reset-button" href="" type="reset">
            <$= __("button-reset") $>
          </button> |
        <a class="base--a" href="/terms-of-use">
          <$= __("button-terms") $>
        </a>
        </span>
        <ul class="tab-panels--tab-list" role="tablist">
          <li class="tab-panels--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab base--a active" href="#twitter-panel" aria-controls="twitter-panel" role="tab">
              <$= __("tab-tweets") $>
            </a>
          </li>
          <li class="tab-panels--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab base--a" href="#text-panel" aria-controls="text-panel" role="tab">
              <$= __("tab-body") $>
            </a>
          </li>
          <li class="tab-panels--tab-list-item base--li" style="<% if (showTwitterButton) { %>display: none;<% } %>" role="presentation">
            <a class="tab-panels--tab base--a" id="self-analysis-tab" href="#your-twitter-panel" aria-controls="text-panel" role="tab">
              <$= __("tab-twitter") $>
            </a>
          </li>
        </ul>
        <div class="tab-panels--tab-content">
          <div id="twitter-panel" class="tab-panels--tab-pane active" role="tab-panel">
            <form class="input--form1">

              <div class="base--h5 input--choose">
                <$= __("option-choose") $>
              </div>

              <input role="radio" class="base--radio" type="radio" id="twitter-Oprah" name="twitter" value="Oprah" data-lang="en">
              <label class="base--inline-label input--radio" for="twitter-Oprah">
                <img class="input--thumb" src="/images/twitter/oprah.png">@Oprah (<$= __("twitterlang-en") $>)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-KingJames" name="twitter" value="KingJames" data-lang="en">
              <label class="base--inline-label input--radio" for="twitter-KingJames">
                <img class="input--thumb" src="/images/twitter/kingjames.jpg">@KingJames (<$= __("twitterlang-en") $>)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-DonFranciscoTV" name="twitter" value="DonFranciscoTV" data-lang="es">
              <label class="base--inline-label input--radio" for="twitter-DonFranciscoTV">
                <img class="input--thumb" src="/images/twitter/DonFranciscoTV.jpg">@DonFranciscoTV (<$= __("twitterlang-es") $>)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-pontifex_es" name="twitter" value="pontifex_es" data-lang="es">
              <label class="base--inline-label input--radio" for="twitter-pontifex_es">
                <img class="input--thumb" src="/images/twitter/pontifex_es.jpg">@pontifex_es (<$= __("twitterlang-es") $>)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-trikaofficial" name="twitter" value="trikaofficial" data-lang="ar">
              <label class="base--inline-label input--radio" for="twitter-trikaofficial">
                <img class="input--thumb" src="/images/twitter/trikaofficial.jpg">@trikaofficial (<$= __("twitterlang-ar") $>)</label>

              <input role="radio" class="base--radio" type="radio" id="twitter-faridyu" name="twitter" value="faridyu" data-lang="ja">
              <label class="base--inline-label input--radio" for="twitter-faridyu">
                <img class="input--thumb" src="/images/twitter/faridyu.jpg">@faridyu (<$= __("twitterlang-ja") $>)</label>
              <input role="radio" class="base--radio" type="radio" id="twitter-Krungy21" name="twitter" value="Krungy21" data-lang="ko">
              <label class="base--inline-label input--radio" for="twitter-Krungy21">
                <img class="input--thumb" src="/images/twitter/Krungy21.jpg">@Krungy21 (<$= __("twitterlang-ko") $>)</label>
              <input role="radio" class="base--radio" type="radio" id="twitter-Slion10" name="twitter" value="Slion10" data-lang="ko">
              <label class="base--inline-label input--radio" for="twitter-Slion10">
                <img class="input--thumb" src="/images/twitter/Slion10.jpg">@Slion10 (<$= __("twitterlang-ko") $>)</label>
              <input role="radio" class="base--radio" type="radio" id="twitter-Noizemasta" name="twitter" value="Noizemasta" data-lang="ko">
              <label class="base--inline-label input--radio" for="twitter-Noizemasta">
                <img class="input--thumb" src="/images/twitter/Noizemasta.jpg">@Noizemasta (<$= __("twitterlang-ko") $>)</label>

              <div class="input--button-container">
                <button type="submit" class="base--button input--submit-button1"><$= __("button-analyze") $></button>
              </div>
            </form>
          </div>
          <div id="text-panel" class="tab-panels--tab-pane" role="tab-panel">
            <form class="input--form2">

              <div class="base--h5 input--choose">
                <$= __("option-choose") $>
              </div>

              <input role="radio" class="base--radio" type="radio" id="text-sample1" name="text-sample" data-file="sample1" data-lang="en" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-sample1"><$= __("text-obama-en") $></label>

              <input role="radio" class="base--radio" type="radio" id="text-sample2" name="text-sample" data-file="sample2" data-lang="en" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-sample2"><$= __("text-gandhi-en") $></label>

              <input role="radio" class="base--radio" type="radio" id="text-ja" name="text-sample" data-file="ja" data-lang="ja" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-ja"><$= __("text-natsume-ja") $></label>
              <input role="radio" class="base--radio" type="radio" id="text-ko2" name="text-sample" data-file="ko2" data-lang="ko" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-ko2"><$= __("text-ko2") $></label>
              <input role="radio" class="base--radio" type="radio" id="text-ko8" name="text-sample" data-file="ko8" data-lang="ko" data-orientation="" />
              <label class="base--inline-label input--radio" for="text-ko8"><$= __("text-ko8") $></label>

              <input role="radio" class="base--radio" type="radio" id="text-custom" name="text-sample" style="display:none" />
              <label class="base--inline-label input--radio smartphone-hidden" for="text-custom"><$= __("text-own") $></label>

              <textarea id="inputText" class="base--textarea input--text-area" placeholder="<$= __(" text-placeholder ") $>">
              </textarea>
              <div class="input--button-container">
                <div id="languageChooser" class="input--language-chooser smartphone-hidden" style="display:none">
                  <div class="base--h5 input--choose">
                    <$= __("option-chooselang") $>
                  </div>

                  <input role="radio" class="base--radio" type="radio" id="lang-en" name="text-lang" value="en" />
                  <label class="base--inline-label" for="lang-en"><$= __("lang-english") $></label>
                  <input role="radio" class="base--radio" type="radio" id="lang-es" name="text-lang" value="es" />
                  <label class="base--inline-label" for="lang-es"><$= __("lang-spanish") $></label>
                  <input role="radio" class="base--radio" type="radio" id="lang-ar" name="text-lang" value="ar" />
                  <label class="base--inline-label" for="lang-ar"><$= __("lang-arabic") $></label>
                  <input role="radio" class="base--radio" type="radio" id="lang-ja" name="text-lang" value="ja" />
                  <label class="base--inline-label" for="lang-ja"><$= __("lang-japanese") $></label>
                  <input role="radio" class="base--radio" type="radio" id="lang-ko" name="text-lang" value="ko" />
                  <label class="base--inline-label" for="lang-ko"><$= __("lang-ko") $></label>
                </div>
                <button type="submit" class="base--button input--submit-button2"><$= __("button-analyze") $></button>
              </div>

            </form>
          </div>
          <div id="your-twitter-panel" class="tab-panels--tab-pane" role="tab-panel">
            <form class="input--form3 auth-form" method='get' action='/auth/twitter'>
              <p class="base--p" style="text-align:center"><button type="submit" class="base--button input--submit-button3"><$= __("button-analyzetwitter") $></button></p>
              <p class="base--p"><strong><$= __("note-title") $></strong>
                <$= __("note-twitter") $>
                  <p>
            </form>
            <form class="input-form4 analysis-form" style="display:none">
              <div class="base--h5 input--choose">
                <$= __("analysis-title") $>
              </div>
              <input role="radio" class="base--radio" type="radio" id="my-twitter" name="twitter" value="myself">
              <label class="base--inline-label input--radio" for="my-twitter">
                <img class="input--thumb" src="/images/no-image.png">@<$= __("label-myself") $></label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="_demo--bg-container">
    <div class="_demo--container">
      <div class="_content">
        <h3 class="base--h3 output--header"><$= __("title-output") $></h3>
        <div class="loading">
          <div class="loading--icon">
            <img src="images/loading-indicator.gif" width="100%" alt="">
          </div>
        </div>
        <div class="error">
          <p class="error--message">
            <$= __("message-error") $>
          </p>
        </div>
        <div class="output">
          <p class="base--p">
            <$= __("disclaimer-1") $>
          </p>
          <p class="base--p">
            <a class="base--a" href="https://console.bluemix.net/docs/services/personality-insights/output.html#output" target="_blank">
              <$= __("disclaimer-2") $>
            </a>
            <$= __("disclaimer-3") $>
          </p>
          <h2 class="base--h2"><$= __("title-personality") $></h2>
          <h4 class="base--h4 output--word-count-header"><span class="output--word-count-number">0</span> <$= __("label-wordsanalyzed") $>
            <div class="output--word-count-message output--word-count-message_VERY-STRONG"><$= __("analysis-verystrong") $>
              <div class="output--word-count-tooltip_VERY-STRONG tooltip"><$= __("analysis-verystrong-desc") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_STRONG"><$= __("analysis-strong") $>
              <div class="output--word-count-tooltip_STRONG tooltip"><$= __("analysis-strong-desc") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_DECENT"><$= __("analysis-decent") $>
              <div class="output--word-count-tooltip_DECENT tooltip"><$= __("analysis-decent-desc") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_WEAK"><$= __("analysis-weak") $>
              <div class="output--word-count-tooltip_WEAK tooltip"><$= __("analysis-weak-desc") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_VERY-STRONG_NEW_MODEL"><$= __("analysis-verystrong") $>
              <div class="output--word-count-tooltip_VERY-STRONG tooltip"><$= __("analysis-verystrong-desc-new-model") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_STRONG_NEW_MODEL"><$= __("analysis-strong") $>
              <div class="output--word-count-tooltip_STRONG tooltip"><$= __("analysis-strong-desc-new-model") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_DECENT_NEW_MODEL"><$= __("analysis-decent") $>
              <div class="output--word-count-tooltip_DECENT_NEW_MODEL tooltip"><$= __("analysis-decent-desc-new-model") $></div>
            </div>
            <div class="output--word-count-message output--word-count-message_WEAK_NEW_MODEL"><$= __("analysis-weak") $>
              <div class="output--word-count-tooltip_WEAK tooltip"><$= __("analysis-weak-desc-new-model") $></div>
            </div>
          </h4>
          <div class="output-summary">
            <div class="output-summary--left">
              <h4 class="base--h4"><$= __("title-summary") $></h4>
              <div id="personalitySummary" class="output-summary--summary">
                <p class="base--p">
                  <$= __("label-summary") $>
                </p>
              </div>
              <a class="base--a output-summary--summary-link" href="https://console.bluemix.net/docs/services/personality-insights/science.html" target="_blank"><$= __("button-how") $></a>
            </div>
            <div class="output-summary--right">
              <div class="output-summary--consumption-behaviors--section">
                <h4 class="base--h4"><$= __("behavior-likely") $></h4>
                <div class="output-summary--likely-behaviors">
                </div>
                <h4 class="base--h4"><$= __("behavior-unlikely") $></h4>
                <div class="output-summary--unlikely-behaviors">
                </div>
              </div>
            </div>
          </div>
          <div class="output--stats-row">
            <div class="output-big-5 output-stats-column">
              <h4 class="base--h4"><$= __("results-personality") $></h4>
              <div class="output-stats-column--percentile-label">*% =
                <$= __("label-percentile") $>
              </div>
              <div class="output-big-5--traits output-stats-column--traits"></div>
            </div>
            <div class="output-needs output-stats-column">
              <h4 class="base--h4"><$= __("results-needs") $></h4>
              <div class="output-stats-column--percentile-label">*% =
                <$= __("label-percentile") $>
              </div>
              <div class="output-needs--traits output-stats-column--traits"></div>
              <div class="output-needs--more-traits"></div>
              <a class="output-needs--toggle output-stats-column--toggle base--a" href="javascript:void(0);">>></a>
            </div>
            <div class="output-values output-stats-column">
              <h4 class="base--h4"><$= __("results-values") $></h4>
              <div class="output-stats-column--percentile-label">*% =
                <$= __("label-percentile") $>
              </div>
              <div class="output-values--traits output-stats-column--traits"></div>
            </div>
          </div>
          <span class="icon-hyperlink output--json-hyperlink">
            <span class="icon icon-code"></span>
          <button class="base--a icon-hyperlink--button icon-hyperlink--button_BLANK output--json-button" href="">
              <$= __("button-json") $>
            </button>
          </span>
          <div class="output--json">
            <h3 class="base--h3"><$= __("label-json") $></h3>
            <pre class="base--pre language-javascript output--json-pre"><code class="base--code language-javascript output--json-code code--json"></code></pre>
          </div>
          <p class="base--p output--more-science">
            <$= __("label-whatelse") $>
              <br>
              <a class="base--a" onclick="postSunburstRequest()" href="javascript:void(0);">
                <$= __("button-sunburst") $>
              </a>.
              <br>
              <a class="base--a" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/science.shtml" target="_blank">
                <$= __("button-science") $>
              </a>.
          </p>
        </div>
      </div>
    </div>
  </div>


  <script type="text/html" id="big5PercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label output-big-5--trait-label <%= (item.score >= 50) ? 'output-big-5--trait-label_POSITIVE' : 'output-big-5--trait-label_NEGATIVE' %>">
              <%= item.name %>
                <i class="icon icon-down-arrow percent-bar-and-score--toggle-icon"></i>
                <div class="tooltip">
                  <%= tooltips(item.id) || '<$= __('tooltip-not-available') $>' %>
                </div>
            </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
              </div>
            </div>
          </div>
          <div class="output-big-5--sub-tree">
            <% _.each(item.children, function(item2, key, list) { %>
              <div class="percent-bar-and-score">
                <div class="percent-bar-and-score--label output-big-5--sub-trait-label <%= (item2.score >= 50) ? 'output-big-5--sub-trait-label_POSITIVE' : 'output-big-5--sub-trait-label_NEGATIVE' %>">
                  <%= item2.name %>
                    <div class="tooltip">
                      <%= tooltips(item2.id) || '<$= __('tooltip-not-available') $>' %>
                    </div>
                </div>
                <div class="percent-bar percent-bar-and-score--percent-bar">
                  <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item2.score %>%)">
                    <div class="percent-bar--ball <%= (item2.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                    <div class="percent-bar-and-score--number">
                      <%= item2.score %>%</div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
          <% });%>
  </script>

  <script type="text/html" id="outputStatsPercentTemplate">
    <% _.each(items, function(item, key, list) { %>
      <% if (typeof list[key - 1] != 'undefined' && (list[key - 1].score >= 50 && item.score < 50)) { %>
        <hr class="base--hr output-stats-column--hr">
        <% } %>
          <div class="percent-bar-and-score">
            <div class="percent-bar-and-score--label <%= (item.score >= 50) ? 'percent-bar-and-score--label_POSITIVE' : 'percent-bar-and-score--label_NEGATIVE' %>">
              <%= item.name %>
                <div class="tooltip">
                  <%= tooltips(item.id) || '<$= __('tooltip-not-available') $>' %>
                </div>
            </div>
            <div class="percent-bar percent-bar-and-score--percent-bar">
              <div class="percent-bar--meter" style="-webkit-transform: translate(<%= item.score %>%); transform: translate(<%= item.score %>%)">
                <div class="percent-bar--ball <%= (item.score >= 50) ? 'percent-bar--ball_POSITIVE-FILL' : 'percent-bar--ball_NEGATIVE-FILL' %>"></div>
                <div class="percent-bar-and-score--number">
                  <%= item.score %>%</div>
              </div>
            </div>
          </div>
          <% });%>
  </script>


  <script type="text/html" id="outputBehaviorsTemplate">
    <% _.each(items, function(item, key, list) { %>
      <div class="output-summary--behavior <%= item.score > 0.5 ? 'output-summary--behavior_POSITIVE' : 'output-summary--behavior_NEGATIVE' %>">
        <i class="icon <%= item.score > 0.5 ? 'icon-likely' : 'icon-not-likely' %>"></i>
        <%= item.verb %>
          <div class="tooltip">
            <%= item.description %>
              <div class="tooltip--hover-fix"></div>
          </div>
      </div>
    <% }); %>
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

  <script type="text/javascript" src="js/vendors/q.js"></script>
  <script type="text/javascript" src="js/components/q_util.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>

  <script type="text/javascript" src="vendor/personality-text-summary/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-info/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-descriptions/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-names/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-consumption-preferences/dist/index.js"></script>
  <script type="text/javascript" src="js/sunburst.js"></script>

  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-likely-sort.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-unlikely-sort.js"></script>

  <script type="text/javascript">
    var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
    var GENERIC_REQUEST_ERROR = '<$= __('error-request') $>';
    var OUTPUT_LANG = '<$= locale $>';
  </script>

  <$ if (bluemixAnalytics) { $>
    <script type="text/javascript" src="js/analytics.js"></script>
  <$ } $>
</body>
</html>
