//- index.jade
extends ./layout.jade

block row-content
  .container
    div.row
      div.col-lg-6.col-md-12.col-xs-12
        h2=t('application.input.title')
        p!=t('application.warning.minimumRecommendedWarning')
        p!=t('application.warning.selfReflectiveText')
        div.well
          div.form-group.row
            div.col-lg-12.col-xs-12(style='padding:0px;')
              label.col-lg-6.col-md-6.col-xs-6.control-label=t('application.label.chooseLanguage') + ":"
              div.col-lg-6.col-md-6.col-xs-6.sample-radio-list
                div.sample-radio-container
                  label
                    input#english_radio.sample-radio(type='radio', name='sample_text', value='en', checked)
                    span=t('application.label.english')
                div.sample-radio-container
                  label
                    input.sample-radio(type='radio', name='sample_text', value='es')
                    span=t('application.label.spanish')
              textarea.content.form-control(rows='12', required='true', name='text'
                placeholder=t('application.input.placeHolder'))
                |#{content}
              div.text-right.wordsCountFootnote
                span.wordsCount.small
                span.small=" " + t('application.label.words')
          div.form-group.row.buttons-container
            div.col-lg-4.col-xs-4
              button.btn.btn-block.clear-btn(type='button')=t('application.input.clear')
            div.col-lg-4.col-lg-push-4.col-xs-4.col-xs-push-4
              button.btn.btn-block.analysis-btn(type='button')=t('application.input.analyze')
      div.col-lg-6.col-md-12.col-xs-12
        div.form-group.row.loading.text-center.loading(style='display:none;')
          h2 &nbsp;
          img(src='images/watson.gif')
        div.form-group.row.error(style='display: none;')
          h2 &nbsp;
          div.well
            p.errorMsg
        div.results(style='display: none;')
          h2= t('application.label.yourPersonality') + "*"
          div.well
            div.summary-div
            div.text-right(style='color: gray')
              em.small= "*" + t('application.label.comparedFootNote')
            div.text-right(style='color: gray')
              em.small.outputMessageFootnote
      div.results(style='display: none;')
        div.row
          div.col-lg-5.col-md-12.col-xs-12
            h3=t('application.label.personalityData')
            div.col555px.well.traits(style='display: none;')
          div.col-lg-7.col-xs-12.col-md-12
            h3=t('application.label.personalityVisualizationData')
            div.well#vizcontainer

      //- templates to avoid to create HTML in javascript
      div.hidden
        div#header-template
          div.row.theader
            .col-lg-4.col-xs-4
              span= t('application.label.name')
            .col-lg-8.col-xs-8.text-right
              span= t('application.label.value') + " ±  " + t('application.label.samplingError')

        div#trait-template
          div.row
            .tname.col-lg-7.col-xs-7
              span
            .tvalue.col-lg-5.col-xs-5.text-right
              span

        div#model-template
          div.row
            .col-lg-12.col-xs-12.text-center
              span

