//- layout.jade
doctype html
html(lang=i18n.lng())
  head
    block title
      title= t('application.title')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    div.container
      div.row
        div.col-lg-12
          div.row.top-nav
            div.col-lg-12
              a.left(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html')= t('application.label.learnMore')
              a.right.fork(href='https://github.com/watson-developer-cloud/personality-insights-nodejs')= t('application.label.fork')
              a.right(href='mailto:watsondevelopercloud@wwpdl.vnet.ibm.com')= t('application.label.contactUs')
              a.right(href='https://developer.ibm.com/answers')= t('application.label.watsonCommunity')
          div.row.header(style='padding-bottom:0px;')
            div.avatar.img-container.col-lg-1.col-xs-1
              img(src='/images/app.png')
            div.col-lg-6.col-xs-6
              h2= t('application.name')
              p= t('service.description')
            div.col-lg-4.col-xs-4
              h3= t('application.label.keepExploring') + ":"
              a.left(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/')= t('application.label.documentation')
              a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/personality-insights')= t('application.label.apiDetails')
      block row-content

    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/d3.v2.min.js')
    script(type='text/javascript', src='/js/demo.js')
    script(type='text/javascript', src='/js/personality.js')
    script(type='text/javascript', src='/js/string-utils.js')
    script(type='text/javascript', src='/js/i18n.js')
    script(type='text/javascript', src='/js/textsummary.js')
    script.
        textSummary.init('json');
